<h1>Eldest director</h1>

<p>The eldest director in our dataset right now is  <a href = "/directors/<%=@eld_dir.id%>"><%= @eld_dir.name%></a>, born on <%= @eld_dir.dob.strftime("%B %e,%Y") %>.</p>


<p>(http://strftime.net/ is handy for putting together the formatting strings for the .strftime method.)</p>
