<h1>Eldest director</h1>


The eldest director in our dataset right now is Frank Capra, born on May 18, 1897.

<p>(http://strftime.net/ is handy for putting together the formatting strings for the .strftime method.)</p>
